<a href="https://colab.research.google.com/github/viett887g/anova1chieupt/blob/main/anova1chieu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
from scipy.stats import f_oneway
from scipy import stats
from scipy.stats import shapiro

In [7]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [8]:
import pandas as pd

In [14]:
a =  pd.read_csv("/content/gdrive/MyDrive/AnyConv.com__owan01.csv")
b =  pd.read_csv("/content/gdrive/MyDrive/AnyConv.com__owan02.csv")
c =  pd.read_csv("/content/gdrive/MyDrive/AnyConv.com__owan03.csv")
d =  pd.read_csv("/content/gdrive/MyDrive/AnyConv.com__owan04.csv")
e =  pd.read_csv("/content/gdrive/MyDrive/AnyConv.com__owan05.csv")

In [17]:
alpha = 0.05

shape_a = a.shape
shape_b = b.shape
shape_c = c.shape
shape_d = d.shape
shape_e = d.shape

def cre_d(shape, sample):
    data = []
    for i in range(shape[1]):
        try:
            x = sample.iloc[:, i].dropna()
            data.append(x)
        except:
            data.append(x)
    return data

def shapiro_test(data):
    n = 1
    for i in data:
        s_test = stats.shapiro(i)
        if s_test[1] < alpha:
            print("Có bằng chứng cho thấy nhóm",n,"không tuân theo luật phân phối chuẩn")
        else:
            print("Không có bằng chứng cho thấy nhóm ",n,"không tuân theo luật phân phối chuẩn")
        n+=1

In [18]:
a

     X1    X2     X3    X4
0    93  85.0  100.0  96.0
1   120  45.0   75.0  58.0
2    65  80.0   65.0  95.0
3   105  28.0   40.0  90.0
4   115  75.0   73.0  65.0
5    82  70.0   65.0  80.0
6    99  65.0   50.0  85.0
7    87  55.0   30.0  95.0
8   100  50.0   45.0  82.0
9    90  40.0   50.0   NaN
10   78   NaN   45.0   NaN
11   95   NaN   55.0   NaN
12   93   NaN    NaN   NaN
13   88   NaN    NaN   NaN
14  110   NaN    NaN   NaN

B1: kiểm tra dữ liệu đã tuân theo phân phối chuẩn hay chưa?


$H_0$: Các mẫu tuân theo phân phối chuẩn

$H_a$: Các mẫu không tuân theo phân phối chuẩn

In [19]:
data_a = cre_d(shape_a, a)
shapiro_test(data_a)

Không có bằng chứng cho thấy nhóm  1 không tuân theo luật phân phối chuẩn
Không có bằng chứng cho thấy nhóm  2 không tuân theo luật phân phối chuẩn
Không có bằng chứng cho thấy nhóm  3 không tuân theo luật phân phối chuẩn
Không có bằng chứng cho thấy nhóm  4 không tuân theo luật phân phối chuẩn

B2: Tiến hành kiểm định có sự đồng nhất giữa phương sai các nhóm hay không?

**Phát biểu giả thuyết:**

$H_0$: Không có sự khác biệt về phương sai của các nhóm

$H_a$: Có sự khác biệt về phương sai của các nhóm

In [20]:
A_test = stats.bartlett(data_a[0],data_a[1],data_a[2],data_a[3])
if A_test[1] < alpha:
    print("Có bằng chứng cho thấy có sự khác biệt về phương sai của các nhóm trên")
else:
    print("Không có sự khác biệt về phương sai của các nhóm trên")

Không có sự khác biệt về phương sai của các nhóm trên

B3
**Phát biểu giả thuyết**:

$H_0$: Không có sự khác biệt về giá trị trung bình giữa các nhóm

$H_a$: Tồn tại có sự khác biệt về giá trị trung bình giữa các n

In [21]:
B_test = f_oneway(data_a[0], data_a[1], data_a[2], data_a[3])
if B_test[1] < alpha:
    print("Có bằng chứng cho thấy có sự khác biệt về giá trị trung bình của các nhóm")
else:
    print("Không có sự khác biệt về giá trị trung bình của các nhóm")

Có bằng chứng cho thấy có sự khác biệt về giá trị trung bình của các nhóm

In [22]:
data_c = cre_d(shape_c, c)
shapiro_test(data_c)

Không có bằng chứng cho thấy nhóm  1 không tuân theo luật phân phối chuẩn
Không có bằng chứng cho thấy nhóm  2 không tuân theo luật phân phối chuẩn
Không có bằng chứng cho thấy nhóm  3 không tuân theo luật phân phối chuẩn
Không có bằng chứng cho thấy nhóm  4 không tuân theo luật phân phối chuẩn

In [25]:
data_d = cre_d(shape_d, d)
shapiro_test(data_d)

D_test = stats.bartlett(data_d[0],data_d[1],data_d[2],data_d[3],data_d[4])
if B_test[1] < alpha:
    print("Có bằng chứng cho thấy có sự khác biệt về phương sai của các nhóm trên")
else:
    print("Không có sự khác biệt về phương sai của các nhóm trên")
    
D_test = f_oneway(data_d[0], data_d[1], data_d[2], data_d[3], data_d[4])
if A_test[1] < alpha:
    print("Có bằng chứng cho thấy có sự khác biệt về giá trị trung bình của các nhóm")
else:
    print("Không có sự khác biệt về giá trị trung bình của các nhóm")

Không có bằng chứng cho thấy nhóm  1 không tuân theo luật phân phối chuẩn
Không có bằng chứng cho thấy nhóm  2 không tuân theo luật phân phối chuẩn
Không có bằng chứng cho thấy nhóm  3 không tuân theo luật phân phối chuẩn
Không có bằng chứng cho thấy nhóm  4 không tuân theo luật phân phối chuẩn
Không có bằng chứng cho thấy nhóm  5 không tuân theo luật phân phối chuẩn
Có bằng chứng cho thấy có sự khác biệt về phương sai của các nhóm trên
Không có sự khác biệt về giá trị trung bình của các nhóm

In [ ]:
B_test = f_oneway(data_a[0], data_a[1], data_a[2], data_a[3])
if B_test[1] < alpha:
    print("Có bằng chứng cho thấy có sự khác biệt về giá trị trung bình của các nhóm")
else:
    print("Không có sự khác biệt về giá trị trung bình của các nhóm")

In [27]:
data_e = cre_d(shape_e, e)
shapiro_test(data_e)

E_test = stats.bartlett(data_e[0],data_e[1],data_e[2],data_e[3],data_e[4])
if E_test[1] < alpha:
    print("Có bằng chứng cho thấy có sự khác biệt về phương sai của các nhóm trên")
else:
    print("Không có sự khác biệt về phương sai của các nhóm trên")

Có bằng chứng cho thấy nhóm 1 không tuân theo luật phân phối chuẩn
Không có bằng chứng cho thấy nhóm  2 không tuân theo luật phân phối chuẩn
Không có bằng chứng cho thấy nhóm  3 không tuân theo luật phân phối chuẩn
Không có bằng chứng cho thấy nhóm  4 không tuân theo luật phân phối chuẩn
Không có bằng chứng cho thấy nhóm  5 không tuân theo luật phân phối chuẩn
Không có sự khác biệt về phương sai của các nhóm trên